// @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;400&display=swap');
// Fira Code symbols: †☺☹↗→↘↑↓♥⌂∑Δ÷+▼▲
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap&subset=latin&text=%2B%C3%B7%CE%94%E2%80%A0%E2%86%91%E2%86%92%E2%86%93%E2%86%97%E2%86%98%E2%88%91%E2%8C%82%E2%96%B2%E2%96%BC%E2%98%B9%E2%98%BA%E2%99%A5')
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap')
@import './vars'

.symbol
  font-family $f-symbol
  cursor pointer
  padding 3px 5px
  letter-spacing 1px
  white-space nowrap

.legend
  font-family $f-symbol

.ampersand
  font-family $f-base
  padding-right 1px

.scrolled::-webkit-scrollbar
  width 5px
  height 5px
  background transparent

.scrolled::-webkit-scrollbar-thumb
  background-color #dcdcdc
  border 0
  border-radius 5px

.scrolled::-webkit-scrollbar-track
  // -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.3)
  background-color: #f7f7f7
  border-radius 5px