// https://colorbrewer2.org/, qualitative 4 colors, color-blind friendly, 4-class Paired
$c-confirmed = #1f78b4
$c-deceased = #a6cee3 
$c-recovered = #33a02c
$c-active = #b2df8a 

$c-negative = #e0e0e0

$c-line-normal = #f0f0f0
$c-line-select = #c0c0c0

$c-hover = #f0f0f0
$c-selected = #ff9933
$c-selected-light = #ffcc66
$c-week-start = #ff6666

$w-tickbox = 12px
$w-country = 70px

$f-base = 'Roboto Condensed', sans-serif
$f-heading = 'Slabo 27px', serif
$f-symbol = 'Fira Code', sans-serif